N8N custom node testing.json
{
  "name": "N8N custom node testing",
  "nodes": [
    {
      "parameters": {
        "resource": "plan",
        "operation": "delete",
        "plan_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        -352
      ],
      "id": "f03179f6-0ef6-41b9-9d9a-f8145d2d1760",
      "name": "Delete a plan",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "update",
        "plan_uuid": "={{ $json.uuid }}",
        "additionalFields": {
          "name": "n8n_updated",
          "interval_count": 3,
          "interval_unit": "year"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3328,
        -352
      ],
      "id": "4e62caae-0c08-4d63-9158-459cb323eb32",
      "name": "Update a plan",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "get",
        "plan_uuid": "={{ $json.plans[0].uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3104,
        -352
      ],
      "id": "4a1fa448-2f83-464d-a240-a2df0b4261ff",
      "name": "Retrieve a plan",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "additionalFields": {},
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2208,
        -184
      ],
      "id": "9e9bcb1c-17cd-4170-b417-896b9aee296a",
      "name": "List all plans",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "name": "n8n_testing",
        "additionalFields": {
          "externalId": "n8n-testing"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        -184
      ],
      "id": "c8486618-f315-43c1-8006-efddb6b7a871",
      "name": "Create a plan",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        800
      ],
      "id": "ddea8551-04d0-4d12-9df8-2adc48b5f6e4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        -32,
        800
      ],
      "id": "3334ca92-5b6a-4522-ae1d-f67660f8c296",
      "name": "Get account details",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $json.uuid }}",
        "external_id": "=n8n_merge_into",
        "additionalFields": {
          "city": "Los Angeles",
          "company": "Test Company",
          "country": "US",
          "custom": {
            "custom": [
              {
                "key": "Account_manager",
                "value": "Jose"
              },
              {
                "key": "Age",
                "type": "Integer",
                "value": 21
              }
            ]
          },
          "free_trial_started_at": "2025-10-01T00:00:00",
          "lead_created_at": "2025-09-15T00:00:00",
          "owner": "gef+test@chartmogul.com",
          "primary_contact": {
            "email": "nick@chartmogul.com",
            "first_name": "Nick",
            "last_name": "Franklin",
            "linked_in": "https://www.linkedin.com/in/nickfranklin/",
            "notes": "This is a note",
            "phone": "+639171234567",
            "title": "CEO",
            "twitter": "https://x.com/ChartMogul"
          },
          "state": "CA",
          "tags": "vip, important, tag1",
          "website_url": "https://hmge.io",
          "zip_code": "90210"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        896
      ],
      "id": "16008fd6-5b66-4ae8-9a3b-177a9d0814b0",
      "name": "Create a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "name": "={{ 'n8n_testing_' + $now }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        -32,
        992
      ],
      "id": "92bd1c29-f251-4ff4-950a-089456e5ddc4",
      "name": "Create a source",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        192,
        992
      ],
      "id": "3ae95021-59ab-40ec-8baa-0671c490356b",
      "name": "List all sources",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {
          "name": "={{ $('Create a source').all()[0].json.name }}"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        640,
        992
      ],
      "id": "74fea3cc-4e67-4018-bb40-8714dbe0500b",
      "name": "List all sources1",
      "executeOnce": true,
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        416,
        992
      ],
      "id": "c57231a0-843d-4616-9b3e-ceda077d2259",
      "name": "List all sources2",
      "executeOnce": true,
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "get",
        "data_source_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        864,
        992
      ],
      "id": "ed0ef382-b2b8-4a45-bb72-86b0bcba7336",
      "name": "Retrieve a source",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "delete",
        "data_source_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1088,
        992
      ],
      "id": "4da05ab1-e31e-475a-a670-ed592e52cf75",
      "name": "Delete a source",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "name": "n8n_testing_all",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1312,
        992
      ],
      "id": "4598eadf-cdb7-4faf-bb1d-ea906ab21839",
      "name": "Create a source1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "name": "n8n-testing-year",
        "additionalFields": {
          "externalId": "n8n-testing-year"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        -184
      ],
      "id": "c3703a9e-1bbc-44db-8ea9-4e4920dafe0c",
      "name": "Create a plan1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "name": "n8n-testing-week",
        "interval_count": 7,
        "interval_unit": "day",
        "additionalFields": {
          "externalId": "n8n-testing-week"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1984,
        -184
      ],
      "id": "4fa9909a-4336-4c54-95be-1cbbd8f31e41",
      "name": "Create a plan2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "additionalFields": {
          "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2432,
        -352
      ],
      "id": "e3c0e13a-b00f-4c64-b1cd-4e0284350983",
      "name": "List all plans1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "additionalFields": {
          "billingSystem": "Custom",
          "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2656,
        -352
      ],
      "id": "3591dd9b-c6bd-43a9-8f08-f0ad1d455e17",
      "name": "List all plans2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "additionalFields": {
          "billingSystem": "Custom",
          "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
          "externalId": "n8n-testing-week"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2880,
        -352
      ],
      "id": "efc9b886-57cf-492a-8dfc-6756cd39b50b",
      "name": "List all plans3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "additionalFields": {},
        "pagination": {
          "cursor": "={{ $json.cursor }}",
          "perPage": 10
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2432,
        -160
      ],
      "id": "0dc93724-ff12-4c2a-856b-aff7b842728b",
      "name": "List all plans4",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {
          "name": "n8n_testing_all",
          "system": "Custom"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        -32,
        608
      ],
      "id": "73eb58ed-9f91-43aa-8751-987d34af9a39",
      "name": "List all sources3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "delete",
        "data_source_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        192,
        608
      ],
      "id": "2bd5984f-83c4-43ef-814a-c63a2451f82d",
      "name": "Delete a source1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "name": "={{ 'grouped_plan_' + $now}}",
        "additionalFields": {
          "externalId": "={{ 'grouped_plan_' + $now}}"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        32
      ],
      "id": "ad2702f5-943d-4afb-aa1d-0f3cfd6ac36d",
      "name": "Create a plan3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "name": "={{ 'grouped_plan_' + $now}}",
        "additionalFields": {
          "externalId": "={{ 'grouped_plan_' + $now}}"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        32
      ],
      "id": "48b4529d-2db0-4045-aa0c-39980eb1a169",
      "name": "Create a plan4",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "name": "={{ 'grouped_plan_' + $now}}",
        "additionalFields": {
          "externalId": "={{ 'grouped_plan_' + $now}}"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1984,
        32
      ],
      "id": "96758ac0-c411-4904-b0a1-f343c0c3708c",
      "name": "Create a plan5",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "operation": "create",
        "name": "n8n_plan_group",
        "plans": [
          "={{ $('Create a plan3').item.json.uuid }}",
          "={{ $('Create a plan4').item.json.uuid }}"
        ],
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2208,
        32
      ],
      "id": "17847d20-5ba0-4eb6-bd74-ece59f663377",
      "name": "Create a plan group",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2432,
        32
      ],
      "id": "29a910f3-6d51-4b43-8a62-a6d2306a7653",
      "name": "List all plan groups",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "pagination": {
          "cursor": "={{ $json.cursor }}",
          "perPage": 1
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2656,
        128
      ],
      "id": "a31bb53a-e4c7-44b5-818d-c96f80288c0e",
      "name": "List all plan groups1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "operation": "get",
        "plan_group_uuid": "={{ $('Create a plan group').item.json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2656,
        -64
      ],
      "id": "6d464c40-cdaa-4441-8bdf-1e6f5f4759c0",
      "name": "Retrieve a plan group",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "operation": "list_contents",
        "plan_group_uuid": "={{ $('Create a plan group').item.json.uuid }}",
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2880,
        -64
      ],
      "id": "eaf29c7b-e34f-4aff-8ba3-d74d83dd8c14",
      "name": "List all plans in a plan group",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "operation": "update",
        "plan_group_uuid": "={{ $('Create a plan group').item.json.uuid }}",
        "updateOptions": {
          "name": "updated_n8n_name_group",
          "plans": [
            "={{ $('Create a plan5').item.json.uuid }}",
            "={{ $('Create a plan3').item.json.uuid }}",
            "={{ $('Create a plan4').item.json.uuid }}"
          ]
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3104,
        -64
      ],
      "id": "28d68559-2add-4ea1-98e8-9cef5b41e665",
      "name": "Update a plan group",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "operation": "list_contents",
        "plan_group_uuid": "={{ $('Create a plan group').item.json.uuid }}",
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3328,
        -64
      ],
      "id": "a6240c21-0aeb-4ca6-ab58-76423b01be23",
      "name": "List all plans in a plan group1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "plan_group",
        "operation": "delete",
        "plan_group_uuid": "={{ $('Create a plan group').item.json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        -64
      ],
      "id": "33c092a6-e493-4b98-914c-b7913872055e",
      "name": "Delete a plan group",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "customer_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        416
      ],
      "id": "53bc3b54-7ca6-425b-917a-be0d9b1e6555",
      "name": "Retrieve a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "list",
        "filterOptions": {
          "billingSystem": "Custom",
          "data_source_uuid": "={{ $json.data_source_uuid }}",
          "externalId": "={{ $json.external_id }}",
          "status": "New_Lead"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1984,
        416
      ],
      "id": "e95c9cc1-62a8-44f6-9aa9-e09005d7a09c",
      "name": "List all customers",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "list",
        "filterOptions": {
          "billingSystem": "Custom",
          "data_source_uuid": "={{ $('Retrieve a customer').item.json.data_source_uuid }}",
          "externalId": "={{ $('Retrieve a customer').item.json.external_id }}",
          "status": "New_Lead"
        },
        "pagination": {
          "cursor": "={{ $json.cursor }}",
          "perPage": 1
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2208,
        536
      ],
      "id": "f85d24b7-76fe-4e54-9c1f-493942d7425a",
      "name": "List all customers1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "list_by_email",
        "email": "andrew@example.com",
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        1160
      ],
      "id": "48cf743b-9a32-46a7-8825-8071b53ede36",
      "name": "List customers by email",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "update",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "additionalFields": {
          "company": "New Company Name"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2208,
        320
      ],
      "id": "1cf64ff7-ee94-46a2-b2d6-85fc7473f1bb",
      "name": "Update a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        608
      ],
      "id": "4db47aac-3b15-41ec-b31e-5e5a5f2fc366",
      "name": "Wait",
      "webhookId": "c7255dee-bc9f-4202-9630-fb1bb5b79fb7"
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $json.uuid }}",
        "external_id": "deleted_customer",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        1352
      ],
      "id": "18233fd1-b107-466f-a063-68525213b5c6",
      "name": "Create a customer 3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "add_contact",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "additionalFields": {
          "first_name": "John",
          "last_name": "Doe",
          "email": "name@email.com",
          "phone": "+639177654321",
          "title": "CFO",
          "linked_in": "linkedin.com/in/johndoe",
          "twitter": "x.com/johndoe",
          "notes": "another note"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2432,
        320
      ],
      "id": "424ef3f1-9b6b-4ef1-8f16-4729b10c995d",
      "name": "Add a contact to a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "delete",
        "customer_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        1352
      ],
      "id": "7cd269c3-6a11-4594-9403-a05e44abf16a",
      "name": "Delete a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "external_id": "n8n_merge_from",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2656,
        320
      ],
      "id": "06562f51-85a3-4189-ba49-251a8f724a4d",
      "name": "Create a customer2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "merge",
        "merge_from": "={{ $json.uuid }}",
        "merge_into": "={{ $('Create a customer').item.json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2880,
        320
      ],
      "id": "808e21ea-7f17-46e5-ac72-d1b8563b0017",
      "name": "Merge customers",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $json.uuid }}",
        "external_id": "=n8n_merge_into_alt",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        1544
      ],
      "id": "7f805fd3-0817-4c31-9a43-62c2ed5a09aa",
      "name": "Create a customer3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "external_id": "=n8n_merge_from_alt",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        1544
      ],
      "id": "70d20aab-e516-4238-9dcc-c7be741e2110",
      "name": "Create a customer4",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "merge",
        "merge_using": "data_source_uuid_external_id_merge",
        "merge_from": {
          "mergeFrom": {
            "data_source_uuid": "={{ $json.data_source_uuid }}",
            "external_id": "={{ $json.external_id }}"
          }
        },
        "merge_into": {
          "mergeInto": {
            "data_source_uuid": "={{ $json.data_source_uuid }}",
            "external_id": "={{ $('Create a customer3').item.json.external_id }}"
          }
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1984,
        1544
      ],
      "id": "df93324b-501e-41cf-9e21-065555e32098",
      "name": "Merge customers1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "task_details": "Task to delete",
        "assignee": "gef+test@chartmogul.com",
        "due_date": "2025-10-31T00:00:00",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3104,
        320
      ],
      "id": "9a0b8637-b3c1-4c42-b0c2-0dd82586f1aa",
      "name": "Create a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "task_details": "Task to update",
        "assignee": "gef+test@chartmogul.com",
        "due_date": "2025-10-28T00:00:00",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3328,
        320
      ],
      "id": "4ccf87d4-4dc1-4035-8305-2eea568a4a97",
      "name": "Create a task1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "list",
        "filterOptions": {},
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        320
      ],
      "id": "8e6da571-be37-4c88-9557-cb545d487932",
      "name": "List tasks",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "list",
        "filterOptions": {},
        "pagination": {
          "cursor": "={{ $json.cursor }}",
          "perPage": 1
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        320
      ],
      "id": "6133c481-a21d-4686-adef-6b7666ad5b87",
      "name": "List tasks1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "list",
        "filterOptions": {
          "customer_uuid": "={{ $json.entries[0].customer_uuid }}",
          "assignee": "={{ $json.entries[0].assignee }}",
          "due_date_on_or_after": "2025-10-28T00:00:00",
          "due_date_on_or_before": "2025-10-30T00:00:00",
          "completed": false
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        -88
      ],
      "id": "36b52022-c4df-4786-87d5-2c0bf63db929",
      "name": "List tasks2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "task_uuid": "={{ $('Create a task1').item.json.task_uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        -88
      ],
      "id": "d9cae7d5-8690-46ae-8f0a-62b3162926f5",
      "name": "Retrieve a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "update",
        "task_uuid": "={{ $('Create a task1').item.json.task_uuid }}",
        "updateOptions": {
          "task_details": "Updated name"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        -88
      ],
      "id": "59355872-c0af-4652-8c18-c9dc868d1ccf",
      "name": "Update a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "entries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3776,
        512
      ],
      "id": "a5c0ca08-d172-40df-873b-eaafc72a735a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "373936c8-29e2-4b1e-8e56-de3b75edba0a",
              "leftValue": "={{ $json.task_details }}",
              "rightValue": "Task to delete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4000,
        512
      ],
      "id": "eff37118-bd2c-488a-8e06-69e1b0559865",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "delete",
        "task_uuid": "={{ $json.task_uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        512
      ],
      "id": "37dcde1d-8e09-4195-8faf-4ed36c82a669",
      "name": "Delete a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "customer_uuid": "={{ $json.uuid }}",
        "additionalFields": {
          "author_email": "gef+test@chartmogul.com",
          "text": "This is a note to be retained",
          "created_at": "2025-10-09T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3104,
        896
      ],
      "id": "90289f8b-4bc2-4d97-950d-0703ffbed54d",
      "name": "Create a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "customer_uuid": "={{ $json.customer_uuid }}",
        "additionalFields": {
          "author_email": "gef+test@chartmogul.com",
          "text": "This is a note to be deleted",
          "created_at": "2025-10-17T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3328,
        896
      ],
      "id": "ad501c0f-d86c-4942-9ce2-87de91fff658",
      "name": "Create a note or call log1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "customer_uuid": "={{ $json.customer_uuid }}",
        "type": "call",
        "call_duration": 420,
        "additionalFields": {
          "author_email": "gef+test@chartmogul.com",
          "text": "This is a call log ",
          "created_at": "2025-10-21T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        800
      ],
      "id": "3de84740-02a5-43d6-81b4-fe98d55300a5",
      "name": "Create a note or call log2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "delete",
        "note_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        992
      ],
      "id": "47bb67d9-c64f-42c1-bb08-c14c0a26ba63",
      "name": "Delete a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "update",
        "note_uuid": "={{ $json.uuid }}",
        "updateOptions": {
          "text": "updated call log",
          "call_duration": 320,
          "updated_at": "2025-10-31T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        800
      ],
      "id": "598e5d8d-4466-4c5e-aed5-31c64d635001",
      "name": "Update a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "note_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        800
      ],
      "id": "6f030c10-a6e9-41d1-87e6-285f99d099dc",
      "name": "Retrieve a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "list",
        "filterOptions": {
          "author_email": "gef+test@chartmogul.com"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        704
      ],
      "id": "c63586d7-16ff-4545-8b80-844af348ffa9",
      "name": "List notes and call logs",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "list",
        "filterOptions": {
          "customer_uuid": "={{ $json.customer_uuid }}",
          "type": "note"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        896
      ],
      "id": "d2630f21-d113-4576-8d03-3eeaa4b13366",
      "name": "List notes and call logs1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "create",
        "customer_uuid": "={{ $json.uuid }}",
        "owner": "gef+test@chartmogul.com",
        "pipeline": "New Business",
        "pipeline_stage": "Evaluation",
        "estimated_close_date": "2025-11-30T00:00:00",
        "amount_in_cents": 12000,
        "currency": "USD",
        "additionalFields": {
          "type": "recurring"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        1208
      ],
      "id": "33b29501-5226-40fc-a118-287a2f4fedbd",
      "name": "Create an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "create",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "owner": "gef+test@chartmogul.com",
        "pipeline": "Renewals",
        "pipeline_stage": "Negotiation",
        "estimated_close_date": "2025-11-30T00:00:00",
        "amount_in_cents": 12000,
        "currency": "USD",
        "additionalFields": {
          "type": "one-time"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        1304
      ],
      "id": "cf904a5c-887b-426e-a5f5-ddb2342deade",
      "name": "Create an opportunity1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "delete",
        "opportunity_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        1304
      ],
      "id": "bfc28951-cc5f-4e69-9884-776e26d285be",
      "name": "Delete an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "update",
        "opportunity_uuid": "={{ $json.uuid }}",
        "updateOptions": {
          "pipeline_stage": "Negotiation",
          "amount_in_cents": 13000,
          "win_likelihood": 95
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        1112
      ],
      "id": "a6c794d5-4e27-4bae-b8a4-9b64c58b2269",
      "name": "Update an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "list",
        "filterOptions": {
          "customer_uuid": "={{ $json.customer_uuid }}"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        1112
      ],
      "id": "4fc6ce60-7cd2-464c-b633-8c04819cdd73",
      "name": "List opportunities",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "opportunity_uuid": "={{ $json.entries[0].uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        1112
      ],
      "id": "127ee012-b903-4737-97a7-7c83db89ed63",
      "name": "Retrieve an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4448,
        688
      ],
      "id": "73361d1a-7fb5-4a83-9da3-8663eba1855e",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "unmerge",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "external_id": "n8n_merge_from",
        "move_to_new_customer": [
          "tasks",
          "opportunities"
        ],
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4672,
        704
      ],
      "id": "0513d12b-ec71-44c4-a56b-5f8b202c21f4",
      "name": "Unmerge customers",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_attributes",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "custom": {
          "custom": [
            {
              "key": "Account_manager",
              "value": "Bender"
            },
            {
              "key": "Age",
              "type": "Integer",
              "value": 25
            }
          ]
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4896,
        512
      ],
      "id": "7a0a7b50-5bba-41cc-b3f9-16e5f3733cae",
      "name": "Add custom attributes to a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_attributes_by_email",
        "email": "andrew@example.com",
        "custom": {
          "custom": [
            {
              "key": "Account_manager",
              "value": "Leela"
            }
          ]
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5568,
        704
      ],
      "id": "6f31868e-f831-4b17-9d54-05881b5500a8",
      "name": "Add custom attributes to a customer by email",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_tags",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "tags": "vip, master, this is a tag",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5120,
        512
      ],
      "id": "b6dc7048-b256-4ccd-b1fe-2fba837cd843",
      "name": "Add tags to a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_tags_by_email",
        "email": "andrew@example.com",
        "tags": "vip, master, this is a tag",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5792,
        704
      ],
      "id": "c5d9049f-6972-4eaf-a309-ff414a03724f",
      "name": "Add tags to a customer by email",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5344,
        512
      ],
      "id": "fdee95e0-30e2-4a87-a204-be52f98fff1f",
      "name": "Retrieve tags and attributes of a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "remove_attributes",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "custom": "Age",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5568,
        512
      ],
      "id": "ccd07506-2475-4de7-ac58-d13f194b6516",
      "name": "Remove custom attributes from a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "remove_tags",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "tags": "tag1, master",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5792,
        512
      ],
      "id": "9a814637-2946-4ced-abdf-aaf5ca077fea",
      "name": "Remove tags from a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6016,
        704
      ],
      "id": "dce5c131-27ac-462e-9e6a-43e79cc3dac7",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "customer_uuid": "={{ $('Create a customer').item.json.uuid }}",
        "additionalFields": {
          "email": "sabrina@example.com",
          "first_name": "Sabrina",
          "last_name": "Carpenter"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6224,
        704
      ],
      "id": "3f0e61b3-bf05-49ef-8f13-60b332ba3232",
      "name": "Create a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "list",
        "filterOptions": {
          "email": "sabrina@example.com",
          "customer_external_id": "={{ $json.customer_external_id }}"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6432,
        704
      ],
      "id": "a31ac9ef-6f24-4cec-9e39-165d16a3a2e5",
      "name": "List contacts",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "contact_uuid": "={{ $json.entries[0].uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6640,
        704
      ],
      "id": "866a503c-a942-4440-bc13-315a48dca99c",
      "name": "Retrieve a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contact_uuid": "={{ $json.uuid }}",
        "additionalFields": {
          "title": "She-EO"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6848,
        704
      ],
      "id": "f8a4e48e-c106-47f6-b0b6-64b85e8dd0e7",
      "name": "Update a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        7056,
        704
      ],
      "id": "0449d405-41ba-49de-aaec-a6e4b03ee4cb",
      "name": "Delete a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Update a plan": {
      "main": [
        [
          {
            "node": "Delete a plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a plan": {
      "main": [
        [
          {
            "node": "Update a plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans": {
      "main": [
        [
          {
            "node": "List all plans1",
            "type": "main",
            "index": 0
          },
          {
            "node": "List all plans4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan": {
      "main": [
        [
          {
            "node": "Create a plan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create a source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get account details",
            "type": "main",
            "index": 0
          },
          {
            "node": "List all sources3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer": {
      "main": [
        [
          {
            "node": "Retrieve a customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a note or call log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get account details": {
      "main": [
        []
      ]
    },
    "Create a source": {
      "main": [
        [
          {
            "node": "List all sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources": {
      "main": [
        [
          {
            "node": "List all sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources1": {
      "main": [
        [
          {
            "node": "Retrieve a source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources2": {
      "main": [
        [
          {
            "node": "List all sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a source": {
      "main": [
        [
          {
            "node": "Delete a source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a source": {
      "main": [
        [
          {
            "node": "Create a source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a source1": {
      "main": [
        [
          {
            "node": "Create a plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a plan3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "List customers by email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a customer 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a customer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan1": {
      "main": [
        [
          {
            "node": "Create a plan2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan2": {
      "main": [
        [
          {
            "node": "List all plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans1": {
      "main": [
        [
          {
            "node": "List all plans2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans2": {
      "main": [
        [
          {
            "node": "List all plans3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans4": {
      "main": [
        []
      ]
    },
    "List all sources3": {
      "main": [
        [
          {
            "node": "Delete a source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans3": {
      "main": [
        [
          {
            "node": "Retrieve a plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan3": {
      "main": [
        [
          {
            "node": "Create a plan4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan4": {
      "main": [
        [
          {
            "node": "Create a plan5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan5": {
      "main": [
        [
          {
            "node": "Create a plan group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a plan group": {
      "main": [
        [
          {
            "node": "List all plan groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plan groups": {
      "main": [
        [
          {
            "node": "List all plan groups1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve a plan group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a plan group": {
      "main": [
        [
          {
            "node": "List all plans in a plan group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans in a plan group": {
      "main": [
        [
          {
            "node": "Update a plan group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a plan group": {
      "main": [
        [
          {
            "node": "List all plans in a plan group1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all plans in a plan group1": {
      "main": [
        [
          {
            "node": "Delete a plan group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a customer": {
      "main": [
        [
          {
            "node": "List all customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all customers": {
      "main": [
        [
          {
            "node": "List all customers1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List customers by email": {
      "main": [
        []
      ]
    },
    "Delete a source1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a customer": {
      "main": [
        [
          {
            "node": "Add a contact to a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer 3": {
      "main": [
        [
          {
            "node": "Delete a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a contact to a customer": {
      "main": [
        [
          {
            "node": "Create a customer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer2": {
      "main": [
        [
          {
            "node": "Merge customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer3": {
      "main": [
        [
          {
            "node": "Create a customer4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer4": {
      "main": [
        [
          {
            "node": "Merge customers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge customers": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Create a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task1": {
      "main": [
        [
          {
            "node": "List tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tasks": {
      "main": [
        [
          {
            "node": "List tasks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "List tasks2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tasks2": {
      "main": [
        [
          {
            "node": "Retrieve a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a task": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tasks1": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Delete a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note or call log": {
      "main": [
        [
          {
            "node": "Create a note or call log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note or call log2": {
      "main": [
        [
          {
            "node": "Update a note or call log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note or call log1": {
      "main": [
        [
          {
            "node": "Create a note or call log2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete a note or call log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a note or call log": {
      "main": [
        [
          {
            "node": "Retrieve a note or call log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a note or call log": {
      "main": [
        [
          {
            "node": "List notes and call logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "List notes and call logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an opportunity": {
      "main": [
        [
          {
            "node": "Create an opportunity1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an opportunity1": {
      "main": [
        [
          {
            "node": "Delete an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an opportunity": {
      "main": [
        [
          {
            "node": "List opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List opportunities": {
      "main": [
        [
          {
            "node": "Retrieve an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve an opportunity": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "List notes and call logs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update a task": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Unmerge customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unmerge customers": {
      "main": [
        [
          {
            "node": "Add custom attributes to a customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add custom attributes to a customer by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add custom attributes to a customer": {
      "main": [
        [
          {
            "node": "Add tags to a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add custom attributes to a customer by email": {
      "main": [
        [
          {
            "node": "Add tags to a customer by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags to a customer": {
      "main": [
        [
          {
            "node": "Retrieve tags and attributes of a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve tags and attributes of a customer": {
      "main": [
        [
          {
            "node": "Remove custom attributes from a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove custom attributes from a customer": {
      "main": [
        [
          {
            "node": "Remove tags from a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove tags from a customer": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags to a customer by email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact": {
      "main": [
        [
          {
            "node": "List contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List contacts": {
      "main": [
        [
          {
            "node": "Retrieve a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a contact": {
      "main": [
        [
          {
            "node": "Update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a contact": {
      "main": [
        [
          {
            "node": "Delete a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a534b5ad-19de-4b2a-926d-97ba6c7aa7cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15c1156919666d818137e4d1695c7042c0c055e4c762cb38235990ec95b20192"
  },
  "id": "WqBwfdVXrXSPT1pm",
  "tags": []
}