N8N custom node - CRM Functions.json
{
  "name": "N8N custom node - CRM Functions",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        840
      ],
      "id": "bb209457-4d2b-461c-bd35-5b754c0e641d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        -32,
        840
      ],
      "id": "acf5b697-c563-41ce-9b34-268bddaf9520",
      "name": "Get account details",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $json.uuid }}",
        "external_id": "=n8n_merge_into",
        "additionalFields": {
          "city": "Los Angeles",
          "company": "Test Company",
          "country": "US",
          "custom": {
            "custom": [
              {
                "key": "Account_manager",
                "value": "Jose"
              },
              {
                "key": "Age",
                "type": "Integer",
                "value": 21
              }
            ]
          },
          "free_trial_started_at": "2025-10-01T00:00:00",
          "lead_created_at": "2025-09-15T00:00:00",
          "owner": "gef+test@chartmogul.com",
          "primary_contact": {
            "email": "nick@chartmogul.com",
            "first_name": "Nick",
            "last_name": "Franklin",
            "linked_in": "https://www.linkedin.com/in/nickfranklin/",
            "notes": "This is a note",
            "phone": "+639171234567",
            "title": "CEO",
            "twitter": "https://x.com/ChartMogul"
          },
          "state": "CA",
          "tags": "vip, important, tag1",
          "website_url": "https://hmge.io",
          "zip_code": "90210"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        672
      ],
      "id": "a53402aa-0f6f-4e2d-bf4d-dd73eb58fecd",
      "name": "Create a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "name": "={{ 'n8n_testing_' + $now }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        -32,
        1032
      ],
      "id": "4fe1f5ec-7f4c-45c1-ba51-e4040447ad13",
      "name": "Create a source",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        192,
        1032
      ],
      "id": "ff874c30-79fd-4ea1-8f2f-b35e4ea761a5",
      "name": "List all sources",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {
          "name": "={{ $('Create a source').all()[0].json.name }}"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        640,
        1032
      ],
      "id": "ca76dc24-1c6c-41fd-8605-f8a8132ba80d",
      "name": "List all sources1",
      "executeOnce": true,
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        416,
        1032
      ],
      "id": "40a90c13-593a-4573-813a-c234ae7e4e45",
      "name": "List all sources2",
      "executeOnce": true,
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "get",
        "dataSourceUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        864,
        1032
      ],
      "id": "b31a9f9f-8480-4378-9d71-912b1706e45f",
      "name": "Retrieve a source",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "delete",
        "dataSourceUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1088,
        1032
      ],
      "id": "879a1b39-f53f-4be9-8b4e-1dea76ca83fb",
      "name": "Delete a source",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "name": "n8n_testing_crm",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1312,
        1032
      ],
      "id": "f82f1803-8ed5-4fc9-a81d-184b57557c58",
      "name": "Create a source1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "list",
        "filterOptions": {
          "name": "n8n_testing_crm",
          "system": "Custom"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        -32,
        648
      ],
      "id": "8a4e4fc3-268c-4e14-a57b-f1a067de9667",
      "name": "List all sources3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "source",
        "operation": "delete",
        "dataSourceUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        192,
        648
      ],
      "id": "3a13d665-c105-4aef-9a43-69c4af9305dd",
      "name": "Delete a source1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "customerUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        192
      ],
      "id": "920104b7-95c0-4fcf-9535-e57edd21f69f",
      "name": "Retrieve a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "list",
        "filterOptions": {
          "billingSystem": "Custom",
          "data_source_uuid": "={{ $json.data_source_uuid }}",
          "externalId": "={{ $json.external_id }}",
          "status": "New_Lead"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1984,
        192
      ],
      "id": "7e9cb175-6834-4ba4-b3b6-a0ae235b709b",
      "name": "List all customers",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "list",
        "filterOptions": {
          "billingSystem": "Custom",
          "data_source_uuid": "={{ $('Retrieve a customer').item.json.data_source_uuid }}",
          "externalId": "={{ $('Retrieve a customer').item.json.external_id }}",
          "status": "New_Lead"
        },
        "pagination": {
          "cursor": "={{ $json.cursor }}",
          "perPage": 1
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2208,
        312
      ],
      "id": "4dd59275-9e86-46ea-81b8-bee883d8d6b7",
      "name": "List all customers1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "list_by_email",
        "email": "andrew@example.com",
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        936
      ],
      "id": "57d2893e-cf09-4e61-9100-646bc99512e3",
      "name": "List customers by email",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "update",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "additionalFields": {
          "company": "New Company Name"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2208,
        96
      ],
      "id": "30ed4b49-5aee-4cff-8cb4-0716243ca4ef",
      "name": "Update a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        648
      ],
      "id": "6357552c-1bd6-4738-859f-beebfefe7e27",
      "name": "Wait",
      "webhookId": "01514fa7-2dac-44aa-bf6a-504c535b1f77"
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $json.uuid }}",
        "external_id": "deleted_customer",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        1128
      ],
      "id": "62cb5d91-64f1-448e-9a58-ce42357b3934",
      "name": "Create a customer 3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "add_contact",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "additionalFields": {
          "first_name": "John",
          "last_name": "Doe",
          "email": "name@email.com",
          "phone": "+639177654321",
          "title": "CFO",
          "linked_in": "linkedin.com/in/johndoe",
          "twitter": "x.com/johndoe",
          "notes": "another note"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2432,
        96
      ],
      "id": "7d31edda-e793-426c-9765-d8126842639f",
      "name": "Add a contact to a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "delete",
        "customerUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        1128
      ],
      "id": "bff49ab2-9afb-4706-8681-c29977adb8fd",
      "name": "Delete a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "external_id": "n8n_merge_from",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2656,
        96
      ],
      "id": "3bf40688-7bb1-4222-b254-d0739c2870a3",
      "name": "Create a customer2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "merge",
        "merge_from": "={{ $json.uuid }}",
        "merge_into": "={{ $('Create a customer').item.json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        2880,
        96
      ],
      "id": "380f4c7f-2e58-4fed-b6c6-4c10f16ad97f",
      "name": "Merge customers",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $json.uuid }}",
        "external_id": "=n8n_merge_into_alt",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1536,
        1320
      ],
      "id": "f54ce9c7-518b-4ac5-b022-4aa66df90cf6",
      "name": "Create a customer3",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a source1').item.json.uuid }}",
        "external_id": "=n8n_merge_from_alt",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1760,
        1320
      ],
      "id": "acacd67a-7a53-45a4-a3b1-2659dd26625e",
      "name": "Create a customer4",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "merge",
        "merge_using": "data_source_uuid_external_id_merge",
        "merge_from": {
          "mergeFrom": {
            "data_source_uuid": "={{ $json.data_source_uuid }}",
            "external_id": "={{ $json.external_id }}"
          }
        },
        "merge_into": {
          "mergeInto": {
            "data_source_uuid": "={{ $json.data_source_uuid }}",
            "external_id": "={{ $('Create a customer3').item.json.external_id }}"
          }
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        1984,
        1320
      ],
      "id": "f8bfcd0f-ed5d-404f-8996-d45ff6d5992d",
      "name": "Merge customers1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "task_details": "Task to delete",
        "assignee": "gef+test@chartmogul.com",
        "due_date": "2025-10-31T00:00:00",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3104,
        96
      ],
      "id": "d3041e70-93d2-4555-aa41-6ad1242da8bd",
      "name": "Create a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "task_details": "Task to update",
        "assignee": "gef+test@chartmogul.com",
        "due_date": "2025-10-28T00:00:00",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3328,
        96
      ],
      "id": "adf6d233-f28f-490b-aa8d-3ff4bc255a76",
      "name": "Create a task1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "list",
        "filterOptions": {},
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        96
      ],
      "id": "41d62e25-361a-4e63-be83-3c38d854bb5f",
      "name": "List tasks",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "list",
        "filterOptions": {},
        "pagination": {
          "cursor": "={{ $json.cursor }}",
          "perPage": 1
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        96
      ],
      "id": "338e493f-5472-4034-aa51-f61ef4a42d10",
      "name": "List tasks1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "list",
        "filterOptions": {
          "assignee": "={{ $json.entries[0].assignee }}",
          "due_date_on_or_after": "2025-10-28T00:00:00",
          "due_date_on_or_before": "2025-10-30T00:00:00",
          "completed": false
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        -96
      ],
      "id": "98649b42-b279-4026-801f-fb4799462ce8",
      "name": "List tasks2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "taskUUID": "={{ $json.entries[0].task_uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        -96
      ],
      "id": "29f058f9-fe81-4f6d-ad11-802d79b902ec",
      "name": "Retrieve a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "update",
        "taskUUID": "={{ $json.task_uuid }}",
        "updateOptions": {
          "task_details": "Updated name",
          "completed_at": "2025-10-31T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        -96
      ],
      "id": "161a3003-3cbc-4b40-8f64-e3754f8cfd27",
      "name": "Update a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "entries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3776,
        288
      ],
      "id": "1fd7579b-c42d-4b88-bdac-fbe7b16bc89b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "373936c8-29e2-4b1e-8e56-de3b75edba0a",
              "leftValue": "={{ $json.task_details }}",
              "rightValue": "Task to delete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4000,
        288
      ],
      "id": "85e8c610-512a-476d-bab3-fe52ba6078c7",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "delete",
        "taskUUID": "={{ $json.task_uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        288
      ],
      "id": "74001799-48e7-4223-8f5d-dff0694b34d3",
      "name": "Delete a task",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "customerUUID": "={{ $json.uuid }}",
        "additionalFields": {
          "author_email": "gef+test@chartmogul.com",
          "text": "This is a note to be retained",
          "created_at": "2025-10-09T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3104,
        672
      ],
      "id": "6da90ada-21bf-4019-906a-e2be86acdfac",
      "name": "Create a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "additionalFields": {
          "author_email": "gef+test@chartmogul.com",
          "text": "This is a note to be deleted",
          "created_at": "2025-10-17T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3328,
        672
      ],
      "id": "bd83bcfd-5720-4ba0-badc-f29891a0982f",
      "name": "Create a note or call log1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "type": "call",
        "call_duration": 420,
        "additionalFields": {
          "author_email": "gef+test@chartmogul.com",
          "text": "This is a call log ",
          "created_at": "2025-10-21T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        576
      ],
      "id": "89d51bde-f001-4bdc-a217-cc19d262414a",
      "name": "Create a note or call log2",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "delete",
        "noteUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        768
      ],
      "id": "1f4b0f5a-4120-4f86-b617-6229bb066954",
      "name": "Delete a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "update",
        "noteUUID": "={{ $json.uuid }}",
        "updateOptions": {
          "text": "updated call log",
          "call_duration": 320,
          "updated_at": "2025-10-31T00:00:00"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        576
      ],
      "id": "37f3049e-7f32-4be5-a646-f5eff67a1f43",
      "name": "Update a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "noteUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        576
      ],
      "id": "570ad715-d2ca-4bbc-914a-be82ea86d589",
      "name": "Retrieve a note or call log",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "list",
        "filterOptions": {
          "author_email": "gef+test@chartmogul.com"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        480
      ],
      "id": "994f73dd-7569-4610-af99-8fb9d5bc31bc",
      "name": "List notes and call logs",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "list",
        "filterOptions": {
          "type": "note"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        672
      ],
      "id": "f74bf437-bef0-4723-a84a-35c75580d63e",
      "name": "List notes and call logs1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "create",
        "customerUUID": "={{ $json.uuid }}",
        "owner": "gef+test@chartmogul.com",
        "pipeline": "New Business",
        "pipeline_stage": "Evaluation",
        "estimated_close_date": "2025-11-30T00:00:00",
        "amount_in_cents": 12000,
        "currency": "USD",
        "additionalFields": {
          "type": "recurring"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3552,
        984
      ],
      "id": "e755e2b8-df0d-4847-8294-b43e72cd8fd4",
      "name": "Create an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "create",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "owner": "gef+test@chartmogul.com",
        "pipeline": "Renewals",
        "pipeline_stage": "Negotiation",
        "estimated_close_date": "2025-11-30T00:00:00",
        "amount_in_cents": 12000,
        "currency": "USD",
        "additionalFields": {
          "type": "one-time"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        1080
      ],
      "id": "85064b67-5af9-4162-b037-1e78ac00c7f3",
      "name": "Create an opportunity1",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "delete",
        "opportunityUUID": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        1080
      ],
      "id": "ddc818bf-87e4-495a-b543-7780d848f11b",
      "name": "Delete an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "update",
        "opportunityUUID": "={{ $json.uuid }}",
        "updateOptions": {
          "pipeline_stage": "Negotiation",
          "amount_in_cents": 13000,
          "win_likelihood": 95
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        3776,
        888
      ],
      "id": "3840805e-9cc5-4c15-87a6-e49f93aba818",
      "name": "Update an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "list",
        "filterOptions": {},
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4000,
        888
      ],
      "id": "9c15808a-67a3-4285-9c5d-ef8163310b67",
      "name": "List opportunities",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "opportunityUUID": "={{ $json.entries[0].uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4224,
        888
      ],
      "id": "fb0ea213-ffd3-405d-bab9-49c1883a356f",
      "name": "Retrieve an opportunity",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4448,
        464
      ],
      "id": "39586d4b-6570-4788-910f-a79d78a8d18e",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "unmerge",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "external_id": "n8n_merge_from",
        "move_to_new_customer": [
          "tasks",
          "opportunities"
        ],
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4672,
        480
      ],
      "id": "56fadc6a-f95b-4af9-b056-ad6836401830",
      "name": "Unmerge customers",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_attributes",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "custom": {
          "custom": [
            {
              "key": "Account_manager",
              "value": "Bender"
            },
            {
              "key": "Age",
              "type": "Integer",
              "value": 25
            }
          ]
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        4896,
        312
      ],
      "id": "7429681d-3dd5-43b3-8d84-4a1619253f79",
      "name": "Add custom attributes to a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_attributes_by_email",
        "email": "andrew@example.com",
        "custom": {
          "custom": [
            {
              "key": "Account_manager",
              "value": "Leela"
            }
          ]
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5568,
        504
      ],
      "id": "47f3d499-d53d-46fd-b1f1-6f822e804ab6",
      "name": "Add custom attributes to a customer by email",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_tags",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "tags": "vip, master, this is a tag",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5120,
        312
      ],
      "id": "b52053ec-83c5-4ed8-b00d-a60d69bc6cf6",
      "name": "Add tags to a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "add_tags_by_email",
        "email": "andrew@example.com",
        "tags": "vip, master, this is a tag",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5792,
        504
      ],
      "id": "baf42396-3119-4ccc-9684-a0f477af6131",
      "name": "Add tags to a customer by email",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5344,
        312
      ],
      "id": "150300e3-0628-40c1-9619-088a19dcdab4",
      "name": "Retrieve tags and attributes of a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "remove_attributes",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "custom": "Age",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5568,
        312
      ],
      "id": "53be68f3-887e-4d1e-b5c7-de795cb84796",
      "name": "Remove custom attributes from a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "enrichment",
        "operation": "remove_tags",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "tags": "tag1, master",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        5792,
        312
      ],
      "id": "7ada9d76-e7cb-4318-a366-43db0b91169a",
      "name": "Remove tags from a customer",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6016,
        480
      ],
      "id": "4c58f25e-d4b9-4ba8-a9d4-4b72e49e6bc7",
      "name": "Merge1"
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "data_source_uuid": "={{ $('Create a customer').item.json.data_source_uuid }}",
        "customerUUID": "={{ $('Create a customer').item.json.uuid }}",
        "additionalFields": {
          "email": "sabrina@example.com",
          "first_name": "Sabrina",
          "last_name": "Carpenter"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6240,
        480
      ],
      "id": "4997131a-250b-44bf-b7ca-410cb96a2d49",
      "name": "Create a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "list",
        "filterOptions": {
          "email": "sabrina@example.com",
          "customer_external_id": "={{ $json.customer_external_id }}"
        },
        "pagination": {},
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6464,
        480
      ],
      "id": "361b5380-e11e-4e2e-9795-f508c55c60bd",
      "name": "List contacts",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "contact_uuid": "={{ $json.entries[0].uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6688,
        480
      ],
      "id": "c3c6029c-d461-403a-8b1e-10cc3cfd8d0c",
      "name": "Retrieve a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contact_uuid": "={{ $json.uuid }}",
        "additionalFields": {
          "title": "She-EO"
        },
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        6912,
        480
      ],
      "id": "51633437-ad50-4ef7-bd25-08c8cb38d9a7",
      "name": "Update a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "delete",
        "contact_uuid": "={{ $json.uuid }}",
        "requestOptions": {}
      },
      "type": "CUSTOM.chartmogul",
      "typeVersion": 1,
      "position": [
        7136,
        480
      ],
      "id": "e3a0b080-aae8-470c-895e-a9f9c6f013b3",
      "name": "Delete a contact",
      "credentials": {
        "chartmogulApi": {
          "id": "NHUGm0eoh0CYBFLu",
          "name": "ChartMogul account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create a source",
            "type": "main",
            "index": 0
          },
          {
            "node": "List all sources3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get account details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer": {
      "main": [
        [
          {
            "node": "Retrieve a customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a note or call log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get account details": {
      "main": [
        []
      ]
    },
    "Create a source": {
      "main": [
        [
          {
            "node": "List all sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources": {
      "main": [
        [
          {
            "node": "List all sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources1": {
      "main": [
        [
          {
            "node": "Retrieve a source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources2": {
      "main": [
        [
          {
            "node": "List all sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a source": {
      "main": [
        [
          {
            "node": "Delete a source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a source": {
      "main": [
        [
          {
            "node": "Create a source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a source1": {
      "main": [
        [
          {
            "node": "Create a customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "List customers by email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a customer 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a customer3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all sources3": {
      "main": [
        [
          {
            "node": "Delete a source1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a customer": {
      "main": [
        [
          {
            "node": "List all customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List all customers": {
      "main": [
        [
          {
            "node": "List all customers1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List customers by email": {
      "main": [
        []
      ]
    },
    "Delete a source1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a customer": {
      "main": [
        [
          {
            "node": "Add a contact to a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer 3": {
      "main": [
        [
          {
            "node": "Delete a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a contact to a customer": {
      "main": [
        [
          {
            "node": "Create a customer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer2": {
      "main": [
        [
          {
            "node": "Merge customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer3": {
      "main": [
        [
          {
            "node": "Create a customer4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a customer4": {
      "main": [
        [
          {
            "node": "Merge customers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge customers": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Create a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task1": {
      "main": [
        [
          {
            "node": "List tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tasks": {
      "main": [
        [
          {
            "node": "List tasks2",
            "type": "main",
            "index": 0
          },
          {
            "node": "List tasks1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tasks2": {
      "main": [
        [
          {
            "node": "Retrieve a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a task": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List tasks1": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Delete a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note or call log": {
      "main": [
        [
          {
            "node": "Create a note or call log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note or call log2": {
      "main": [
        [
          {
            "node": "Update a note or call log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a note or call log1": {
      "main": [
        [
          {
            "node": "Create a note or call log2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete a note or call log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a note or call log": {
      "main": [
        [
          {
            "node": "Retrieve a note or call log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a note or call log": {
      "main": [
        [
          {
            "node": "List notes and call logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "List notes and call logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an opportunity": {
      "main": [
        [
          {
            "node": "Create an opportunity1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an opportunity1": {
      "main": [
        [
          {
            "node": "Delete an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an opportunity": {
      "main": [
        [
          {
            "node": "List opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List opportunities": {
      "main": [
        [
          {
            "node": "Retrieve an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve an opportunity": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "List notes and call logs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update a task": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Unmerge customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unmerge customers": {
      "main": [
        [
          {
            "node": "Add custom attributes to a customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add custom attributes to a customer by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add custom attributes to a customer": {
      "main": [
        [
          {
            "node": "Add tags to a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add custom attributes to a customer by email": {
      "main": [
        [
          {
            "node": "Add tags to a customer by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags to a customer": {
      "main": [
        [
          {
            "node": "Retrieve tags and attributes of a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve tags and attributes of a customer": {
      "main": [
        [
          {
            "node": "Remove custom attributes from a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove custom attributes from a customer": {
      "main": [
        [
          {
            "node": "Remove tags from a customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove tags from a customer": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags to a customer by email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Create a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a contact": {
      "main": [
        [
          {
            "node": "List contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List contacts": {
      "main": [
        [
          {
            "node": "Retrieve a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve a contact": {
      "main": [
        [
          {
            "node": "Update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a contact": {
      "main": [
        [
          {
            "node": "Delete a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d023e89-dfe7-4cbd-9cba-1c741aa69d9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15c1156919666d818137e4d1695c7042c0c055e4c762cb38235990ec95b20192"
  },
  "id": "EQL5TLI2i8R3xcBv",
  "tags": []
}